
.gameBoard{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-template-rows:  repeat(1fr);
    border: solid thin;
    width: 500px;
    height: 500px;
    margin: auto;
}

.square{
    border: solid;
    height: 160px;
    width: 160px;
    margin: auto;
    text-align: center;
    text-justify: auto;
    font-size: 120px;
    font-family: sans-serif;
}

.menu{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    width: 400px;
    height: 150px;
    margin: auto;
}

.button{
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    margin: auto;
}

#reset{
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

#nameOne{
    margin: auto;
    margin: 10px 10px 10px 10px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;

}

#playerX{
    margin-left: 20px;
}