
.gameBoard{
    display: grid;
    grid-template-columns: 10fr 10fr 10fr;
    grid-template-rows:  repeat(1fr);
    border: solid;
    width: 500px;
    height: 500px;
}

#gameBoardSquare{
    border: solid;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    text-justify: auto;
    font-size: 80px;
    font-family: sans-serif;
}